.caption {
    display: block;
    padding-top: 5px;
}

.btn1{
    background-color: transparent;
    height: 100px;
    width: 200px;
    
}

.btn-group-footer {
    margin-top: 1px;    
    background-color: #222324; /* black background */
    color: white; /* White text */
    padding: 0px 0px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    display: flex;
}

/* Clear floats (clearfix hack) */
.btn-group-footer:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group-footer :not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group-footer :hover {
    background-color: #030506;
}